<launch>

  <arg name="radar" default="false"/>
  <arg name="camera" default="false"/>
  <arg name="imu" default="false"/>

  <!-- transform for imu frame to base_link -->
  <node if="$(arg imu)" pkg="tf2_ros" type="static_transform_publisher" name="imu_imu_tf" args="0 0 0 0 0 0 imu_link 3dm_gx5_15"/>
  <node if="$(arg imu)" pkg="tf2_ros" type="static_transform_publisher" name="imu_base_tf" args="0 0 0 0 0 0 imu_link base_link"/>

  <!-- transform for forward facing radar0 to base_link -->
  <node if="$(arg radar)" pkg="tf2_ros" type="static_transform_publisher" name="radar_imu_tf" args="-0.030 0 -0.015 0 0 0 imu_link base_radar_link"/>

  <!-- transform for camera frame to base_link -->
  <node if="$(arg camera)" pkg="tf2_ros" type="static_transform_publisher" name="camera_imu_tf" args="0.110 0 -0.005 0 0 0 camera_pose_frame imu_link"/>

<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_map_tf" args="0 0 0 0 0 0 map base_link"/> -->

</launch>
