<launch>
  <arg name="radar_fwd" default="true" doc="forward facing radar"/>
  <arg name="radar_lat" default="false" doc="lateral facing radar"/>
  <arg name="radar_name_0" default="radar0"/>
  <arg name="radar_name_1" default="radar1"/>

  <!-- transform for forward facing radar0 -->
  <node if="$(arg radar_fwd)" pkg="tf" type="static_transform_publisher" name="radar0_base_tf" args="0 0 0 0 0 0 base_link $(arg radar_name_0)_link 10"/>

  <!-- transform for lateral facing radar1 -->
  <node if="$(arg radar_lat)" pkg="tf" type="static_transform_publisher" name="radar1_base_tf" args="0 0 0 -1.570796 0 0 base_link $(arg radar_name_1)_link 10"/>

</launch>
