<!--
  ICRA 2020 top level launch file

  Launshes:
    - 1x 1843 radar board
    - 1x LORD microstrain IMU
    - 1x Intel RealSense d435 (or the t265)
 -->

<launch>

  <arg name="vicon"   default="true"/>
  <arg name="goggles" default="true"/>
  <arg name="imu"     default="true"/>
  <arg name="camera"  default="true"/>
  <arg name="lidar"   default="true"/>
  <arg name="rviz"    default="false"/>

  <!-- Topic re-mapping -->
  <remap from="imu_raw" to="imu/data_raw"/>
  <!-- <remap from="camera/accel/sample" to="camera/accel/data"/>
  <remap from="camera/gyro/sample" to="camera/gyro/data"/>
  <remap from="camera/odom/sample" to="camera/odom/data"/> -->

  <include if="$(arg vicon)" file="$(find radar_rig)/vrpn/vrpn_RadarRig.launch" />

  <!-- launch the TI 1843 radar + Goggles velocity estimator node -->
  <include if="$(arg goggles)" file="$(find goggles)/launch/goggles.launch">
    <arg name="command_port" default="/dev/ttyACM0"/>
    <arg name="data_port" default="/dev/ttyACM1"/>
  </include>

  <!-- launch LORD Microstrain GX5-15 IMU -->
  <include if="$(arg imu)" file="$(find microstrain_driver)/launch/3dm_gx5_15.launch">
    <arg name="port" value="/dev/serial/by-id/usb-Lord_Microstrain_Lord_Inertial_Sensor_0000__6254.75760-if00"/>
  </include>

  <!-- launch RealSense T265 camera node -->
  <include if="$(arg camera)" file="$(find realsense2_camera)/launch/rs_t265.launch">
    <!-- <arg name="enable_sync" value="true"/> -->
  </include>

  <!-- launch Hokuyo URG lidar node -->
  <include if="$(arg lidar)" file="$(find urg_node)/launch/urg_lidar.launch">
    <arg name="serial_port" value="/dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00"/>
  </include>

  <!-- launch Rig 2 static transforms -->
  <include file="$(find radar_rig)/tf/rig3_static_tf_90.launch">
    <arg name="radar" value="$(arg goggles)"/>
    <arg name="lidar" value="false"/>
    <arg name="camera" value="$(arg camera)"/>
    <arg name="imu" value="$(arg imu)"/>
  </include>

<!-- Launch Rviz with pre-defined configuration to view mmWave sensor detected object data (color by intensity) -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find radar_rig)/rviz/icra_2020.rviz"/>

</launch>
