<!--
  This file will launch...
 -->

<launch>

  <arg name="goggles" default="true"/>
  <arg name="camera"  default="true"/>
  <arg name="rviz"    default="true"/>

  <!-- Goggles parameters -->
  <arg name="launch_radar" default="true" doc="launch radar in addition to velocity estimator?"/>
  <arg name="publish_inliers" default="true" doc="publish MLESAC inlier pointcloud?"/>

  <!-- launch Goggles node -->
  <include if="$(arg goggles)" file="$(find goggles)/launch/goggles.launch">
    <arg name="launch_radar" value="$(arg launch_radar)"/>
    <arg name="publish_inliers" value="$(arg publish_inliers)"/>
    <arg name="config" value="rngRes_0-04_velRes_0-15_rngMax_10-04_3d_10Hz"/>
  </include>

  <!-- launch RealSense T265 camera node -->
  <include if="$(arg camera)" file="$(find realsense2_camera)/launch/rs_t265.launch">
    <!-- <arg name="enable_sync" value="true"/> -->
  </include>

  <!-- launch Octomap via radar_mapping.launch -->
  <include file="$(find radar_rig)/launch/radar_mapping.launch"/>

  <!-- static transfrom from camera_odom_frame and base_radar_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_camera_tf" args="0 0 0 0 0 0 odom camera_odom_frame"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_radar_tf" args="0 0 -0.040 0 0 0 camera_odom_frame base_radar_link"/>

  <!-- launch world2odom transform node -->
  <node pkg="radar_rig" type="world2odom_tf.py" name="vrpn_pose_tf" output="screen">
    <param name="pose_topic" value="camera/odom/sample"/>
    <param name="frame_id" value="map"/>
    <param name="child_frame_id" value="camera_odom_frame"/>
  </node>

  <!-- launch RVIZ node-->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find radar_rig)/rviz/radar_octomap.rviz"/>

</launch>
