<!--
  Single radar (1642) full sensorsuite launch file

  Launshes:
    - 1x 1843 TI mmWave radar
    - 1x Hokuyo URG LiDAR
    - 1x LORD microstrain IMU
    - 1x Intel Realsense T265
 -->

<launch>

  <arg name="vicon"   default="false"/>
  <arg name="radar"   default="true"/>
  <arg name="camera"  default="true"/>
  <arg name="lidar"   default="true"/>
  <arg name="imu"     default="true"/>
  <arg name="tf"      default="true"/>
  <arg name="rviz"    default="true"/>

  <arg name="madgwick" default="false" doc="launch Madgwick filter to estiamte heading?"/>

  <!-- Topic re-mapping -->
  <remap from="imu_raw" to="imu/data_raw"/>

  <!-- Radar serial ports -->
  <arg name="command_port" default="/dev/ttyACM0"/>
  <arg name="data_port" default="/dev/ttyACM1"/>
  <arg name="radar_cfg" default="rngRes_0-04_velRes_0-15_rngMax_10-04_3d_10Hz" doc="1843 best range res"/>

  <include if="$(arg vicon)" file="$(find radar_rig)/vrpn/vrpn_RadarRig.launch" />

  <!-- launch AWR1843 radar -->
  <include if="$(arg radar)" file="$(find ti_mmwave_rospkg)/launch/ti_mmwave_sensor.launch">
    <arg name="device" value="1843" doc="TI mmWave sensor device type [1443, 1642, 1843]"/>
    <arg name="config" value="$(arg radar_cfg)"/>
    <arg name="sdk" value="03_02_00_04"/>
    <arg name="max_allowed_elevation_angle_deg" value="90" doc="Maximum allowed elevation angle in degrees for detected object data [0 > value >= 90]}"/>
    <arg name="max_allowed_azimuth_angle_deg" value="90" doc="Maximum allowed azimuth angle in degrees for detected object data [0 > value >= 90]}"/>
    <arg name="command_port" default="$(arg command_port)"/>
    <arg name="data_port" default="$(arg data_port)"/>
  </include>

  <!-- launch RealSense T265 camera node -->
  <include if="$(arg camera)" file="$(find realsense2_camera)/launch/rs_t265.launch">
    <!-- <arg name="enable_sync" value="true"/> -->
  </include>

  <!-- launch Hokuyo URG lidar node -->
  <include if="$(arg lidar)" file="$(find urg_node)/launch/urg_lidar.launch">
    <arg name="serial_port" value="/dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00"/>
  </include>

  <!-- launch LORD Microstrain GX5-15 IMU -->
  <include if="$(arg imu)" file="$(find microstrain_driver)/launch/3dm_gx5_15.launch">
    <arg name="port" value="/dev/serial/by-id/usb-Lord_Microstrain_Lord_Inertial_Sensor_0000__6254.75760-if00"/>
  </include>

  <!-- launch Madgwick filter to get heading from IMU -->
  <node if="$(arg madgwick)" pkg="imu_filter_madgwick" name="madgwick" type="imu_filter_node" clear_params="true">
    <rosparam command="load" file="$(find microstrain_driver)/params/imu_filter_madgwick.yaml"/>
  </node>

  <!-- launch Rig 2 static transforms -->
  <include if="$(arg tf)" file="$(find radar_rig)/tf/rig3_static_tf_90.launch">
    <arg name="radar" value="$(arg radar)"/>
    <arg name="lidar" value="$(arg lidar)"/>
    <arg name="camera" value="$(arg camera)"/>
    <arg name="imu" value="$(arg imu)"/>
  </include>

<!-- Launch Rviz with pre-defined configuration to view mmWave sensor detected object data (color by intensity) -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find radar_rig)/rviz/radar_rig_singleradar.rviz"/>


</launch>
